
header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#c7afc2;
	margin-bottom: -3px;
}

.wrapper {
    width: 100%;/* Establecemos que el ancho sera del 90% */
    max-width: 1122px;/* Aqui le decimos que el ancho máximo sera de 1000px */
    margin: auto;/* Centramos los elementos */
    overflow: hidden; /* Eliminamos errores de float */
}

header .logo {
	color:#000000;
	font-size:60px;
	line-height:100px;
	float:left;
	position: relative; /*hace que muevas relativamente su posición*/
    top: 35px; /*Pixeles arriba de su posición natural (puede ser negativo)*/
	right: 30px;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
    display: inline-block;
    color: rgb(14, 1, 1);
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover {
	background:#ffffff;
	border-radius:50px;
}
header{
    border-bottom: 10px solid #000000
}
.imgprincipal{
    display: inline-block;
    width: 100%;
    margin-top: 3px
}

.tituloPromo{
    font-size: 60px;
    font-family: fantasy;
    -webkit-text-fill-color: #5cbb35;
    -webkit-text-stroke: 2px #141b35;
}

.texto{
    font-size: 17px;
    color: #000000;
    font-family: fantasy;
    width: 268px;
    margin: auto;
    position: relative;
    top: -51px;
    left: -7px;
}
button{
    background-color: rgb(14 1 1);
    color: #ffffff;
    height: 60px;
    font-size: 26px;
    font-family: -webkit-pictograph;
    border-radius: 31px;
    padding: 10px;
    border: 3px solid;
    cursor: pointer;
    position: relative;
    top: 3px;
    left: -9px;
}
.button2 {
    background-color: #e3484c;
    color: rgb(0 0 0);
    height: 60px;
    font-size: 26px;
    font-family: -webkit-pictograph;
    border-radius: 31px;
    padding: 10px;
    border: 3px solid;
    cursor: pointer;
    position: relative;
    top: 3px;
    left: -9px;
}
.lectura1{
    font-family: fantasy;
    font-size: 18px;
    background-color: #e3484c;
}
.lectura2 {
    position: relative;
    right: 70px;
}
.lectura{
    font-family: fantasy;
    font-size: 18px;
    position: relative;
    right: -100px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.titulolectura{
    font-family: fantasy;
    font-size: 30px;
    position: relative;
    right: -100px;
    width: 50%;
    margin-left: 25%;
    margin-right: 50%;
}
.imagentabla{
    width: 300px;
    height: 435px;
    position: relative;
    left: 155px;
    border: 5px solid #e3484c;
}
.tallas{
    font-family: fantasy;

}
footer{
    width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#f1bbc9;
	margin-top:10px;
}

.h2Footer{
    color: #ffffff;
    font-family: fantasy;
    -webkit-text-stroke:2px #000000;
    font-size: 40px;
}
.divFooter{
    width: 250px;
    float: right;
    
}
footer{
    border-top: 8px solid #000000;
}
.logo{
    width: 20%;
    display: inline-block;
}
.menu{
    width: 60%;
}

h1{
    font-size: 60px;
    font-family: fantasy;
    color: #e965c1;
}
.center{
    text-align: center;
}

.mc{
    font-family: fantasy;
}

